#!/bin/bash

if [ -f .secrets ]; then
  source .secrets
  else
  echo
  echo "######################################################"
  echo "WARNING: Expected to find a .secrets file but did not."
  echo
fi
