# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web-app/node_modules
/data-service/node_modules
/.pnp
.pnp.js
/web-app/.pnp
/web-app/.pnp.js

# testing
/coverage
/data-service/coverage
/web-app/coverage
/data-service/test-report.xml

# production
/build
/web-app/build
/data-service/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/web-app/npm-debug.log*
/web-app/yarn-debug.log*
/web-app/yarn-error.log*
/data-service/npm-debug.log*
/data-service/yarn-debug.log*
/data-service/yarn-error.log*

/data-service/dist
/data-service/logs